In [4]:
import pandas as pd
import numpy as np

import re
import time
import os
import calendar
from datetime import datetime
os.environ['TZ']='EST'

# Clean Text Data

In [163]:
df = pd.read_csv("texts.csv")

In [164]:
df.head()

,ID,Text,Length,Races,Difficulty Rating,Top Score,Top 100,Average,Active Since
0,#1,Geometry sets out from certain conceptions suc...,464,"39,389",0.879,199.48 — Sean Wrona (arenasnow2),163.19,77.46,"August 5, 2008"
1,#2,But speculations on the structure of the unive...,295,"77,023",1.009,203.42 — Sean Wrona (arenasnow2),173.94,78.35,"August 3, 2008"
2,#3,"No man is an island, entire of itself; every m...",389,"69,729",0.975,210.87 — ᗜ John on Plover Stenogra...,167.48,79.58,"August 3, 2008"
3,#4,"I can feel the heat closing in, feel them out ...",273,"79,460",0.976,238.51 — ᗜ John on Plover Stenogra...,175.19,77.06,"August 3, 2008"
4,#5,"Thirdly, however, these wars could now be wage...",267,"75,764",0.997,229.88 — Mirabai On Plover Steno (pl...,177.07,77.28,"July 27, 2008"

In [162]:
def clean_text_df(df):
    """
    Cleans and normalizes columns in text data frame.
    
    Arguments:
        df: Dataframe to be cleaned. 
    
    Returns:
        df: Clean and normalized dataframe.
    """
    
    # Clean ID column and change data type to integer
    ids = [int(re.sub(r"#", "", val)) for val in df['ID'].values]
    df['ID'] = ids
    
    # Clean Races column and changed data type to integer 
    races = [int(re.sub(r',', '', val)) for val in df['Races'].values]
    df['Races'] = races
    
    # Normalize Top Score column
    top_score = [re.split(r" — ", val) for val in df['Top Score'].values]
    
    top_score_wpm = [float(re.sub(r',', '', val[0])) for val in top_score]
    top_score_name = [val[1] for val in top_score]
    top_score_full_name = [re.sub(r'\(([a-zA-Z0-9]+)\)', '', val).strip() for val in top_score_name]
    top_score_nick_name = [re.findall(r'\(([a-zA-Z0-9]+)\)', val)[0] if re.findall(r'\(([a-zA-Z0-9]+)\)', val) else np.nan for val in top_score_name]

    df['Top Score WPM'] = top_score_wpm
    df['Top Score Full Name'] = top_score_full_name
    df['Top Score Nickname'] = top_score_nick_name
    
    df = df.drop(['Top Score'], axis=1)
    
    # Normalize date
    date = [val.split(' ') for val in df['Active Since'].values]
    
    month = [val[0].strip() for val in date]
    day = [int(val[1].strip(",")) for val in date]
    year = [int(val[2].strip()) for val in date]

    df["Active Since Month"] = month
    df["Active Since Day"] = day
    df["Active Since Year"] = year

    df = df.drop("Active Since", axis = 1)
    
    return df

In [165]:
df_cleaned = clean_text_df(df)
df_cleaned.head()

,ID,Text,Length,Races,Difficulty Rating,Top 100,Average,Top Score WPM,Top Score Full Name,Top Score Nickname,Active Since Month,Active Since Day,Active Since Year
0,1,Geometry sets out from certain conceptions suc...,464,39389,0.879,163.19,77.46,199.48,Sean Wrona,arenasnow2,August,5,2008
1,2,But speculations on the structure of the unive...,295,77023,1.009,173.94,78.35,203.42,Sean Wrona,arenasnow2,August,3,2008
2,3,"No man is an island, entire of itself; every m...",389,69729,0.975,167.48,79.58,210.87,ᗜ John on Plover Stenogra...,NaN,August,3,2008
3,4,"I can feel the heat closing in, feel them out ...",273,79460,0.976,175.19,77.06,238.51,ᗜ John on Plover Stenogra...,NaN,August,3,2008
4,5,"Thirdly, however, these wars could now be wage...",267,75764,0.997,177.07,77.28,229.88,Mirabai On Plover Steno (pl...,NaN,July,27,2008

In [168]:
df_cleaned.to_csv("cleaned_text_data.csv")

## Rid ID column from "#" and make it an integer

In [135]:
ids = [int(re.sub(r"#", "", val)) for val in df['ID'].values]
df['ID'] = ids

## Remove comma from Races column and make it an integer

In [136]:
races = [int(re.sub(r',', '', val)) for val in df['Races'].values]
df['Races'] = races

In [137]:
df

,ID,Text,Length,Races,Difficulty Rating,Top Score,Top 100,Average,Active Since
0,1,Geometry sets out from certain conceptions suc...,464,39389,0.879,199.48 — Sean Wrona (arenasnow2),163.19,77.46,"August 5, 2008"
1,2,But speculations on the structure of the unive...,295,77023,1.009,203.42 — Sean Wrona (arenasnow2),173.94,78.35,"August 3, 2008"
2,3,"No man is an island, entire of itself; every m...",389,69729,0.975,210.87 — ᗜ John on Plover Stenogra...,167.48,79.58,"August 3, 2008"
3,4,"I can feel the heat closing in, feel them out ...",273,79460,0.976,238.51 — ᗜ John on Plover Stenogra...,175.19,77.06,"August 3, 2008"
4,5,"Thirdly, however, these wars could now be wage...",267,75764,0.997,229.88 — Mirabai On Plover Steno (pl...,177.07,77.28,"July 27, 2008"
5,6,"The creation ends in South Georgia, at the ver...",382,68313,1.012,239.92 — ᗜ John on Plover Stenogra...,178.59,82.41,"August 2, 2008"
6,7,"The day dawned bleak and chill, a moving wall ...",398,65800,0.968,229.91 — ᗜ John on Plover Stenogra...,169.08,78.68,"August 2, 2008"
7,8,The streets were cleared by a Critical Mass bi...,281,73597,0.972,221.96 — ᗜ John on Plover Stenogra...,168.24,75.18,"August 3, 2008"
8,9,But the two men were not lonely at all. At hom...,256,101225,1.083,262.32 — ᗜ John on Plover Stenogra...,186.79,85.88,"August 4, 2008"
9,10,Wilkinson County was a recipient of one of the...,268,56140,0.853,205.15 — ᗜ John on Plover Stenogra...,162.85,66.57,"August 7, 2008"
10,11,"Kid, I've flown from one side of this galaxy t...",263,81919,1.001,211.97 — ᗜ Amateur Stenographer (a...,170.58,77.94,"August 3, 2008"
11,12,What good's a reward if you ain't around to us...,143,91553,1.001,211.93 — wrm (languidness),184.00,78.20,"August 8, 2008"
12,13,"It is a period of civil war. Rebel spaceships,...",320,52488,0.946,215.48 — Sean Wrona (arenasnow2),172.68,81.54,"August 8, 2008"
13,14,The garbage chute was a wonderful idea! What a...,106,3969,0.687,248.73 — ᗜ John on Plover Stenogra...,151.31,55.97,"August 8, 2008"
14,15,Get it straight buster - I'm not here to say p...,251,77912,0.974,237.69 — ᗜ John on Plover Stenogra...,175.23,76.40,"August 3, 2008"
15,16,"Ezekiel twenty-five, seventeen: The path of th...",323,56721,0.956,228.30 — ᗜ John on Plover Stenogra...,166.61,77.37,"August 7, 2008"
16,17,"Well, the way they make shows is, they make on...",357,87264,1.072,294.96 — ᗜ John on Plover Stenogra...,187.17,89.33,"August 7, 2008"
17,18,If I'm curt with you it's because time is a fa...,191,99858,1.055,217.87 — Kathy (florentine),192.04,83.59,"August 8, 2008"
18,19,Do you know what they call a Quarter-pounder w...,168,75507,0.952,195.84 — Kathy (florentine),167.30,72.00,"August 8, 2008"
19,20,How many roads must a man walk down before you...,302,85268,1.025,215.36 — Sean Wrona (arenasnow2),177.28,81.40,"August 3, 2008"
20,21,"Hey Mr. Tambourine Man, play a song for me, I'...",192,74431,0.930,186.94 — Sean Wrona (arenasnow2),165.38,71.87,"August 2, 2008"
21,22,"The problem is, Willie, is that Charles and yo...",149,102456,1.076,212.53 — Sean Wrona (arenasnow),186.58,83.82,"August 8, 2008"
22,23,You could choke a dozen donkeys on that! And y...,206,66886,0.883,186.76 — Kathy (nonquitforizzy),166.59,68.30,"August 8, 2008"
23,24,"Let's sort the buyers from the spiers, the nee...",234,87031,1.021,226.69 — Sean Wrona (arenasnow2),187.82,80.85,"August 2, 2008"
24,25,"Let's sort the buyers from the spiers, the nee...",355,65001,0.950,201.51 — Sean Wrona (arenasnow2),169.95,78.64,"August 7, 2008"
25,26,What should have been swift revenge turned int...,311,81556,1.014,273.89 — ᗜ John on Plover Stenogra...,178.92,80.01,"August 4, 2008"
26,27,So I'm two inches away from her. Her luscious ...,174,69847,0.885,203.87 — Sean Wrona (arenasnow2),165.98,67.57,"August 8, 2008"
27,28,"We turn away to face the cold, enduring chill,...",255,19272,0.969,206.42 — Kathy (florentine),141.25,51.68,"August 8, 2008"
28,29,"And in the world a heart of darkness, a firezo...",269,93700,1.043,212.76 — Sean Wrona (arenasnow2),182.02,83.01,"August 8, 2008"
29,30,"We turn away to face the cold, enduring chill,...",255,80911,1.066,204.70 — Sean Wrona (arenasnow2),177.05,91.74,"August 7, 2008"
...,...,...,...,...,...,...,...,...,...
5176,4070178,It's like ten thousand spoons when all you nee...,59,114,1.125,242.63 — road to 160.00 all texts - ...,150.49,143.32,"August 9, 2018"
5177,4070179,"Charge 'em for the lice, extra for the mice, t...",247,651,1.059,192.73 — road to 160.00 all texts - ...,150.21,99.55,"August 7, 2018"
5178,4070180,"Master of the house, quick to catch your eye, ...",220,537,0.977,174.11 — hamb0w0rger (chakk),126.30,87.21,"August 8, 2018"
5179,4070181,"Stars, in your multitudes - scarce to be count...",295,640,1.039,173.55 — ⦗𝐄𝐂𝐎𝐋⦘ Ⅴi...,141.04,93.93,"August 7, 2018"
5180,4070182,"I dreamed a dream in time gone by, when hope w...",291,756,1.053,189.62 — Alpha Panda (alpha_panda),146.79,97.53,"August 7, 2018"
5181,4070183,I've never felt this healthy before. I've neve...,74,83,1.050,249.16 — Kathy (florentine),131.22,131.22,"August 9, 2018"
5182,4070184,Riches and pleasure seemed to him to be really...,88,82,1.011,196.54 — twitch.tv/graril (slowaccount),91.90,91.90,"August 7, 2018"
5183,4070185,Mother says I was a dancer before I could walk...,503,483,1.023,178.78 — ⦗𝐄𝐂𝐎𝐋⦘ Ⅴi...,133.24,97.17,"August 7, 2018"
5184,4070186,"Have pity on me and heal me, for you see that ...",125,116,1.085,197.92 — ⠹⠶⠳⠗⠏⠞⡇ (pent...,92.19,83.87,"August 8, 2018"
5185,4070187,I'll keep searching deep within my soul for al...,183,278,1.002,194.70 — road to 160.00 all texts - ...,97.45,71.49,"August 7, 2018"
5186,4070188,"He's holding back, he's hiding - but what, I c...",120,117,0.964,191.97 — snailvinni (slowvinni),86.70,78.37,"August 8, 2018"
5187,4070189,"Well, I've been afraid of changing 'cause I've...",146,247,1.000,203.22 — road to 160.00 all texts - ...,95.34,70.65,"August 8, 2018"
5188,4070190,I can hear those echoes in the wind at night c...,133,140,1.130,217.74 — road to 160.00 all texts - ...,106.94,88.68,"August 8, 2018"
5189,4070191,I knew it was you. You have your father's eyes...,100,67,1.006,191.33 — road to 160.00 all texts - ...,107.58,107.58,"August 7, 2018"
5190,4070192,I suddenly remembered my Charlemagne. Let my a...,104,75,0.919,191.94 — ⦗𝐄𝐂𝐎𝐋⦘ Ⅴi...,92.06,92.06,"August 8, 2018"
5191,4070193,An ox wanders off and you spend time looking f...,52,128,1.102,223.42 — Kathy (florentine),151.58,139.47,"August 8, 2018"
5192,4070194,I'm not familiar with that address. Would you ...,76,85,1.015,213.13 — Join discord.gg/typeracer (...,116.36,116.36,"August 7, 2018"
5193,4070195,If I have to hear one more time that you did t...,67,314,1.372,285.11 — road to 160.00 all texts - ...,206.90,162.92,"August 8, 2018"
5194,4070196,"Listen carefully, my friend. You are stuck in ...",242,618,1.062,180.88 — Alpha Panda (alpha_panda),143.55,98.68,"August 7, 2018"
5195,4070197,"Waits at the window, wearing the face that she...",89,82,1.002,180.31 — vinni woooooooooooooooooo (...,108.04,108.04,"August 8, 2018"
5196,4070198,"Moon river, wider than a mile, I'm crossing yo...",316,541,0.990,174.81 — ⦗𝐄𝐂𝐎𝐋⦘ Ⅴi...,134.33,91.98,"August 8, 2018"
5197,4070199,"Movin' right along, footloose and fancy free. ...",99,76,1.025,190.29 — ⦗𝐄𝐂𝐎𝐋⦘ Ⅴi...,98.42,98.42,"August 8, 2018"
5198,4070200,"Arizona moon, keep shining from the desert sky...",140,301,1.043,179.68 — ⠹⠶⠳⠗⠏⠞⡇ (pent...,107.79,76.26,"August 8, 2018"
5199,4070201,We barely remember who or what came before thi...,95,106,1.113,229.98 — twitch.tv/graril (slowaccount),121.08,115.69,"August 7, 2018"
5200,4070202,It's not easy to juggle a pregnant wife and a ...,118,104,1.014,193.60 — ⠹⠶⠳⠗⠏⠞⡇ (pent...,80.46,78.25,"August 7, 2018"
5201,4070203,Rest assured that I was on the internet within...,99,81,0.993,189.69 — ⠹⠶⠳⠗⠏⠞⡇ (pent...,99.78,99.78,"August 8, 2018"
5202,4070204,"It's just a little airborne! It's still good, ...",62,98,0.994,196.98 — twitch.tv/graril (slowaccount),119.19,119.19,"August 7, 2018"
5203,4070205,We wanted to see if you had the ability to exp...,111,118,1.040,207.15 — hamb0w0rger (chakk),98.14,88.27,"August 8, 2018"
5204,4070206,"Oh, you're too late. There's really nothing le...",60,115,1.106,212.83 — hamb0w0rger (chakk),152.49,142.93,"August 11, 2018"
5205,4070207,Always look on the bright side of life. Always...,301,626,1.043,218.99 — izzy (secretly believes he ...,148.81,97.87,"August 7, 2018"

## Normalize Top Score column

In [138]:
top_score = [re.split(r" — ", val) for val in df['Top Score'].values]

In [139]:
top_score_wpm = [float(val[0]) for val in top_score]
top_score_name = [val[1] for val in top_score]
top_score_full_name = [re.sub(r'\(([a-zA-Z0-9]+)\)', '', val).strip() for val in top_score_name]
top_score_nick_name = [re.findall(r'\(([a-zA-Z0-9]+)\)', val)[0] if re.findall(r'\(([a-zA-Z0-9]+)\)', val) else np.nan for val in top_score_name]

df['Top Score WPM'] = top_score_wpm
df['Top Score Full Name'] = top_score_full_name
df['Top Score Nickname'] = top_score_nick_name

df = df.drop(['Top Score'], axis=1)

In [141]:
df.head(20)

,ID,Text,Length,Races,Difficulty Rating,Top 100,Average,Active Since,Top Score WPM,Top Score Full Name,Top Score Nickname
0,1,Geometry sets out from certain conceptions suc...,464,39389,0.879,163.19,77.46,"August 5, 2008",199.48,Sean Wrona,arenasnow2
1,2,But speculations on the structure of the unive...,295,77023,1.009,173.94,78.35,"August 3, 2008",203.42,Sean Wrona,arenasnow2
2,3,"No man is an island, entire of itself; every m...",389,69729,0.975,167.48,79.58,"August 3, 2008",210.87,ᗜ John on Plover Stenogra...,NaN
3,4,"I can feel the heat closing in, feel them out ...",273,79460,0.976,175.19,77.06,"August 3, 2008",238.51,ᗜ John on Plover Stenogra...,NaN
4,5,"Thirdly, however, these wars could now be wage...",267,75764,0.997,177.07,77.28,"July 27, 2008",229.88,Mirabai On Plover Steno (pl...,NaN
5,6,"The creation ends in South Georgia, at the ver...",382,68313,1.012,178.59,82.41,"August 2, 2008",239.92,ᗜ John on Plover Stenogra...,NaN
6,7,"The day dawned bleak and chill, a moving wall ...",398,65800,0.968,169.08,78.68,"August 2, 2008",229.91,ᗜ John on Plover Stenogra...,NaN
7,8,The streets were cleared by a Critical Mass bi...,281,73597,0.972,168.24,75.18,"August 3, 2008",221.96,ᗜ John on Plover Stenogra...,NaN
8,9,But the two men were not lonely at all. At hom...,256,101225,1.083,186.79,85.88,"August 4, 2008",262.32,ᗜ John on Plover Stenogra...,NaN
9,10,Wilkinson County was a recipient of one of the...,268,56140,0.853,162.85,66.57,"August 7, 2008",205.15,ᗜ John on Plover Stenogra...,NaN
10,11,"Kid, I've flown from one side of this galaxy t...",263,81919,1.001,170.58,77.94,"August 3, 2008",211.97,ᗜ Amateur Stenographer (a...,NaN
11,12,What good's a reward if you ain't around to us...,143,91553,1.001,184.00,78.20,"August 8, 2008",211.93,wrm,languidness
12,13,"It is a period of civil war. Rebel spaceships,...",320,52488,0.946,172.68,81.54,"August 8, 2008",215.48,Sean Wrona,arenasnow2
13,14,The garbage chute was a wonderful idea! What a...,106,3969,0.687,151.31,55.97,"August 8, 2008",248.73,ᗜ John on Plover Stenogra...,NaN
14,15,Get it straight buster - I'm not here to say p...,251,77912,0.974,175.23,76.40,"August 3, 2008",237.69,ᗜ John on Plover Stenogra...,NaN
15,16,"Ezekiel twenty-five, seventeen: The path of th...",323,56721,0.956,166.61,77.37,"August 7, 2008",228.30,ᗜ John on Plover Stenogra...,NaN
16,17,"Well, the way they make shows is, they make on...",357,87264,1.072,187.17,89.33,"August 7, 2008",294.96,ᗜ John on Plover Stenogra...,NaN
17,18,If I'm curt with you it's because time is a fa...,191,99858,1.055,192.04,83.59,"August 8, 2008",217.87,Kathy,florentine
18,19,Do you know what they call a Quarter-pounder w...,168,75507,0.952,167.30,72.00,"August 8, 2008",195.84,Kathy,florentine
19,20,How many roads must a man walk down before you...,302,85268,1.025,177.28,81.40,"August 3, 2008",215.36,Sean Wrona,arenasnow2

## Normalize date

In [142]:
date = [val.split(' ') for val in df['Active Since'].values]

In [143]:
month = [val[0].strip() for val in date]
day = [int(val[1].strip(",")) for val in date]
year = [int(val[2].strip()) for val in date]

df["Active Since Month"] = month
df["Active Since Day"] = day
df["Active Since Year"] = year

df = df.drop("Active Since", axis = 1)

In [144]:
df.head()

,ID,Text,Length,Races,Difficulty Rating,Top 100,Average,Top Score WPM,Top Score Full Name,Top Score Nickname,Active Since Month,Active Since Day,Active Since Year
0,1,Geometry sets out from certain conceptions suc...,464,39389,0.879,163.19,77.46,199.48,Sean Wrona,arenasnow2,August,5,2008
1,2,But speculations on the structure of the unive...,295,77023,1.009,173.94,78.35,203.42,Sean Wrona,arenasnow2,August,3,2008
2,3,"No man is an island, entire of itself; every m...",389,69729,0.975,167.48,79.58,210.87,ᗜ John on Plover Stenogra...,NaN,August,3,2008
3,4,"I can feel the heat closing in, feel them out ...",273,79460,0.976,175.19,77.06,238.51,ᗜ John on Plover Stenogra...,NaN,August,3,2008
4,5,"Thirdly, however, these wars could now be wage...",267,75764,0.997,177.07,77.28,229.88,Mirabai On Plover Steno (pl...,NaN,July,27,2008

In [145]:
type(df['Active Since Year'].values[0])

numpy.int64

# Clean Race Data

In [38]:
df = pd.read_csv("races.csv")
df.head()

     Race                 Date     WPM Accuracy     Text          Outcome
0  4126.0  2018-12-22 00:01:33   78.76      96%  3810450  No win (3 of 3)
1  4125.0  2018-12-22 00:00:25   90.25      98%  3641234  No win (2 of 5)
2  4124.0  2018-09-27 01:55:37  100.13      98%      499     Win (1 of 2)
3  4123.0  2018-09-27 01:54:09   85.26      98%  3550489     Win (1 of 2)
4  4122.0  2018-08-11 02:26:29   95.85      98%  3640093  No win (2 of 4)

In [34]:
def clean_race_df(df):
    
    # Convert Race Id into integer
    df.Race = df.Race.astype('int')
    
    # Set timezone
    os.environ['TZ'] = 'EST'
    
    # Convert datetime to epoch
    pattern = '%Y-%m-%d %H:%M:%S'
    df["Date_Epoch"] = df.Date.apply(lambda x: int(time.mktime(time.strptime(x, pattern))))
    
    # Normalize datetime to month, year and day
    df["Date_Month"] = df.Date.apply(lambda x: calendar.month_name[datetime.strptime(x.split()[0],'%Y-%m-%d').month])
    df["Date_Year"] = df.Date.apply(lambda x: int(datetime.strptime(x.split()[0],'%Y-%m-%d').year))
    df["Date_Day"] = df.Date.apply(lambda x: int(datetime.strptime(x.split()[0],'%Y-%m-%d').day))
    
    #df = df.drop("Date", axis=1)
    
    # Convert accuracy into float
    df.Accuracy = df.Accuracy.apply(lambda x: float(re.sub(r'%', '', x))/100)
    
    # Normalize outcome
    df["Outcome_Rank"] = df.Outcome.apply(lambda x: int(re.findall(r'\(([0-9]+)\sof', x)[0].strip()))
    df["Outcome_No_Racers"] = df.Outcome.apply(lambda x: int(re.findall(r'of\s([0-9]+)\)', x)[0].strip()))

    df = df.drop('Outcome', axis=1)
    df.rename(columns = {'Text':'Text_Id'}, inplace = True)
    
    return df

In [7]:
df_cleaned_races = clean_race_df(df)
df_cleaned_races.head()

,Race,Date,WPM,Accuracy,Text_Id,Date_Epoch,Date_Month,Date_Year,Date_Day,Outcome_Rank,Outcome_No_Racers
0,4126,2018-12-22 00:01:33,78.76,0.96,3810450,1545454893,December,2018,22,3,3
1,4125,2018-12-22 00:00:25,90.25,0.98,3641234,1545454825,December,2018,22,2,5
2,4124,2018-09-27 01:55:37,100.13,0.98,499,1538031337,September,2018,27,1,2
3,4123,2018-09-27 01:54:09,85.26,0.98,3550489,1538031249,September,2018,27,1,2
4,4122,2018-08-11 02:26:29,95.85,0.98,3640093,1533972389,August,2018,11,2,4

In [8]:
df_cleaned_races.to_csv("races.csv")

### Convert from float to integer ids in Race column

In [58]:
df.Race = df.Race.astype('int')

### Set the correct time zone and convert datetime to epoch

In [59]:
os.environ['TZ'] = 'EST'

In [60]:
pattern = '%Y-%m-%d %H:%M:%S'
df["Date_Epoch"] = df.Date.apply(lambda x: int(time.mktime(time.strptime(x, pattern))))

In [61]:
df.head()

,Race,Date,WPM,Accuracy,Text,Outcome,Date_Epoch
0,4126,2018-12-22 00:01:33,78.76,96%,3810450,No win (3 of 3),1545454893
1,4125,2018-12-22 00:00:25,90.25,98%,3641234,No win (2 of 5),1545454825
2,4124,2018-09-27 01:55:37,100.13,98%,499,Win (1 of 2),1538031337
3,4123,2018-09-27 01:54:09,85.26,98%,3550489,Win (1 of 2),1538031249
4,4122,2018-08-11 02:26:29,95.85,98%,3640093,No win (2 of 4),1533972389

In [39]:
df["Date_Month"] = df.Date.apply(lambda x: calendar.month_name[datetime.strptime(x.split()[0],'%Y-%m-%d').month])
df["Date_Year"] = df.Date.apply(lambda x: int(datetime.strptime(x.split()[0],'%Y-%m-%d').year))
df["Date_Day"] = df.Date.apply(lambda x: int(datetime.strptime(x.split()[0],'%Y-%m-%d').day))
df["Date_datetime"] = df.Date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

### Rid Accuracy column of "%" and convert from string to float between 0 and 1

In [62]:
df.Accuracy = df.Accuracy.apply(lambda x: float(re.sub(r'%', '', x))/100)

### Normalize Outcome

In [63]:
df["Outcome_Rank"] = df.Outcome.apply(lambda x: int(re.findall(r'\(([0-9]+)\sof', x)[0].strip()))
df["Outcome_No_Racers"] = df.Outcome.apply(lambda x: int(re.findall(r'of\s([0-9]+)\)', x)[0].strip()))

df = df.drop('Outcome', axis=1)

In [67]:
df.head()

,Race,Date,WPM,Accuracy,Text,Date_Epoch,Outcome_Rank,Outcome_No_Racers
0,4126,2018-12-22 00:01:33,78.76,0.96,3810450,1545454893,3,3
1,4125,2018-12-22 00:00:25,90.25,0.98,3641234,1545454825,2,5
2,4124,2018-09-27 01:55:37,100.13,0.98,499,1538031337,1,2
3,4123,2018-09-27 01:54:09,85.26,0.98,3550489,1538031249,1,2
4,4122,2018-08-11 02:26:29,95.85,0.98,3640093,1533972389,2,4